html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

.app-container {
    height: 100vh;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.row-container{
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.css-fpqs8j{
    left: 50%;
    right: 50%;
    top:40vh;
}

.navbar-nav{
    margin-right: 1% !important;
}

.side-item{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.ql-editor {
    cursor: text;
    height: 75vh;
}

.ql-toolbar{
    justify-content: center;
}

.btn-primary{
    background-color: unset !important;
}

.dropdown-menu.show{
    background-color: red;
}

.MuiListItem-root.Mui-selected {
    background-color: #d4d8e8 !important;
}
.no-note-selected {
    font-size: 48px;
    position: absolute;
    top: 50px;
    left: calc(50% - 165px);
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='']::before
{
    content: 'Default';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='times-new-roman']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='times-new-roman']::before {
    content: 'TNR';
    font-family: 'Times New Roman';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='arial']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='arial']::before
{
    content: 'Arial';
    font-family: 'Arial';
}

.ql-font-arial {
    font-family: 'Arial';
}

.ql-font-times-new-roman {
    font-family: 'Times New Roman';
}